* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

/* HTML */
html{
    font-size: 62.5%;
    scrollbar-width: none;
    scroll-behavior:smooth;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}
/* HTML */

/* HEADER */
header{
    width: 100%;
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    opacity: 50%;
    font-size: 2.5rem;
    transition: var(--transition);
    z-index: 1;
    color: #fff;
}
header:hover{
    background-color: #3a3a3a;
    box-shadow: 0px 4px 10px #000000;
    opacity: 100%;
    transition: var(--transition);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    font-weight: 500;
    padding: 1rem;
}

.home:hover{
    color: #5f5f5f;
}

.vavalo:hover{
    color: var(--valorant);
}

.csss2:hover{
    color: var(--cs);
}

.wazo2:hover{
    color: var(--warzone);
}

.frtnt:hover{
    color: var(--fortnite);
}
/* HEADER */

/* JOGOS */
main{
    width: 100%;
    min-height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.va{
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e), url(../Images/va\ b.png);
    transition: .3s;
}
.cs{
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e), url(../Images/cs\ b.png);
    transition: .3s;
}
.wz{
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e), url(../Images/wz\ bpng.png);
    transition: .3s;
}
.ft{
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e), url(../Images/ft\ b.png);
    transition: .3s;
}

.valorant{
    font-family: "VALORANT";
    font-size: 8rem;
}
.counter-strike{
    font-family: 'Counter-Strike', sans-serif;
    font-size: 8rem;
}
.fortnite{
    font-family: "Burbank Big Condensed Black";
    font-size: 13rem;
}
.warzone{
    font-family: "CountachWeb Regular";
    font-size: 13rem;
}

.hero-content{
    transition: .3s;
    margin: 8rem;
    width: 100%;
    padding: 6rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.hero-content h1{
    text-align: center;
}

.hero-content:hover{
    transform: scale(1.03);
    transition: .3s;
}
/* JOGOS */

/* DOWNLOADS */
.btn{
    font-size: 6rem;
    border: 3px solid #fff;
    padding: 8px 3.5rem;
    transition: .3s;
    font-weight: 600;
}

.vava:hover{
    color: var(--valorant);
    border: 3px solid var(--valorant);
}
.cs2:hover{
    color: var(--cs);
    border: 3px solid var(--cs);
}
.wz2:hover{
    color: var(--warzone);
    border: 3px solid var(--warzone);
}
.ftn:hover{
    color: var(--fortnite);
    border: 3px solid var(--fortnite);
}
/* DOWNLOADS */

/* Saiba Mais */
.vaval{
    color: var(--valorant);
}

.css2{
    color: var(--cs);
}

.waz2{
    color: var(--warzone);
}

.frtn{
    color: var(--fortnite);
}

.vaval:hover{
    color: #fff;
}

.css2:hover{
    color: #fff;
}

.waz2:hover{
    color: #fff;
}

.frtn:hover{
    color: #fff;
}
/* Saiba Mais */