/* HEADER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

/* HTML */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

/* JOGOS */
main {
  width: 100%;
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.va {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e),
    url(../Images/valorant/va\ b.png);
  transition: 0.3s;
}
.wz {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e),
    url(../Images/wz/wz\ bpng.png);
  transition: 0.3s;
}
.ft {
  background-image: linear-gradient(rgba(0, 0, 0, 0.616), #0000007e),
    url(../Images/fort/ft\ b.png);
  transition: 0.3s;
}

.hero-content {
  transition: 0.3s;
  width: 100%;
  padding: 6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  white-space: nowrap;
  flex-direction: column;
}
.hero-content h1 {
  font-size: 9vmin;
  text-align: left;
}

.hero-content a {
  font-size: 5vmin;
}

.hero-content:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
/* JOGOS */

/* DOWNLOADS */
.btn {
  font-size: 6rem;
  border: 3px solid #fff;
  padding: 8px 3.5rem;
  transition: 0.3s;
  font-weight: 600;
}

.vava:hover {
  color: var(--valorant);
  border: 3px solid var(--valorant);
}
.wz2:hover {
  color: var(--warzone);
  border: 3px solid var(--warzone);
}
.ftn:hover {
  color: var(--fortnite);
  border: 3px solid var(--fortnite);
}
/* DOWNLOADS */

/* Saiba Mais */
.vaval {
  color: var(--valorant);
}

.waz2 {
  color: var(--warzone);
}

.frtn {
  color: var(--fortnite);
}

.vaval:hover {
  color: #fff;
}

.waz2:hover {
  color: #fff;
}

.frtn:hover {
  color: #fff;
}
/* Saiba Mais */

/* Comparação */
.tabela {
  width: 100%;
  height: auto;
  background-color: var(--background);
  border-bottom: 2px solid #fff;
}
/* Comparação */
.comp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabela h1 {
  color: #fff;
  text-align: center;
  padding-top: 5rem;
}

.comp table {
  font-size: 2vmin;
  width: 100%;
  border: 2px solid #fff;
  border-collapse: collapse;
  color: #fff;
  margin: 7vmin;
  text-align: center;
}

td,
th {
  border-left: 1px solid #fff;
  padding: 2rem;
}

.nome {
  font-weight: 900;
}
/* Comparação */

/* Final */
.formcontainer {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4rem;
  padding-bottom: 6rem;
  background-color: var(--background);
  color: #fff;
}

.formcontainer h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}

.formcontainer ul {
  line-height: 2rem;
  letter-spacing: 2px;
  list-style: none;
  font-size: 2rem;
  font-weight: 300;
}

.credito p {
  padding: 2px;
  border-bottom: 1px solid #fff;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 45px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

input:focus {
  outline-color: #fff;
  color: #fff;
  background-color: var(--background);
}

label {
  font-size: 2rem;
  letter-spacing: 2px;
}

.mail {
  position: relative;
  top: 31px;
  left: -40px;
}

.box-form-button {
  padding-top: 1rem;
  text-align: right;
  transition: 0.3s;
}

.box-form-button a:hover {
  color: #5f5f5f;
  transform: scale(1.02);
}

.box-form-button a:hover {
  color: #5f5f5f;
  transform: scale(1.02);
}

.enviar {
  background-color: transparent;
  color: #fff;
  border: 0;
  font-size: 1.8rem;
  transition: 0.3s;
}
/* Final */

@media (max-width: 1200px) {
  main {
    width: 100%;
  }

  .comp table {
    font-size: 2vmin;
  }

  td,
  th {
    padding: 1rem;
  }
}

@media (max-width: 900px) {
  main {
    width: 100%;
  }

  .comp table {
    font-size: 2vmin;
  }

  td,
  th {
    padding: 0;
  }
}

@media (max-width: 550px) {
  main {
    width: 100%;
    min-height: 50vh;
  }

  .comp table {
    font-size: 2vmin;
  }

  td,
  th {
    padding: 0;
  }
}

@media (max-width: 450px) {
  main {
    width: 100%;
    min-height: 40vh;
  }

  .comp table {
    font-size: 2vmin;
  }

  td,
  th {
    padding: 0;
  }
}

@media (max-width: 350px) {
  main {
    width: 100%;
    min-height: 40vh;
  }

  .comp table {
    font-size: 2vmin;
  }

  td,
  th {
    padding: 0;
  }
}
