:root {
  --valorant: #ff4655;
  --dvalorant: #83232b;
  --ddvalorant: #101b21;
  --warzone: #d80000;
  --dwarzone: #550000;
  --ddwarzone: ;
  --fortnite: #00dafe;
  --dfortnite: rgb(0, 167, 196);
  --ddfortnite: ;
  --transition: 0.6s;
  --background: #161616;
}
