* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body{
  overflow-x: hidden;
}

/* Header */
main {
  /* border: 1rem solid var(--valorant); */
  width: 100%;
  min-height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #d80000),
    url(../Images/wz/call-of-duty-warzone-2-4k-wallpaper--20529.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  /* box-shadow: 0px 0px 10px; */
}
/* Header */

/* div */
.hero {
  background-color: #d80000;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}

.hero h1 {
  font-size: 4.5vmin;
  color: #fff;
}

.hero p {
  font-size: 3vmin;
  color: #fff;
  padding: 2rem;
}
/* div */

.mapas {
  color: #fff;
  font-size: 4.5vmin;
  border-top: 3px solid #fff;
  background-color: var(--warzone);
  padding: 5rem;
  text-align: center;
}

/* cards */
.grids{
  background-color: var(--warzone);
}

.cards {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  background-color: var(--warzone);
}

.card {
  border-radius: 3px;
  background-color: #fff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 0px 15px;
  transition: 0.3s;
}

.card h2 {
  color: var(--warzone);
  font-size: 4vmin;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.card img {
  width: 100%;
  border-radius: 3px;
  padding-top: 1rem;
}

/* cards */

.hero-content2 {
  transition: 0.3s;
  width: 100%;
  padding: 6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--warzone);
  white-space: nowrap;
}

.hero-content2 a {
  font-size: 9vmin;
  text-align: center;
}

.hero-content2:hover {
  transition: 0.3s;
}

.btn {
  font-size: 6rem;
  color: #fff;
  border: 3px solid #fff;
  margin: 2rem;
  padding: 8px 3.5rem;
  transition: 0.3s;
  font-weight: 600;
}

.btn:hover {
  color: var(--dwarzone);
  border: 3px solid var(--dwarzone);
  transform: scale(1.03);
}

/* footer */
.footer {
  text-align: center;
  padding: 0.3rem;
  font-size: 1.6rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  color: var(--warzone);
}

.footer:hover {
  transform: scale(1.02);
}
/* footer */

@media (max-width: 1200px) {
  main {
    width: 100%;
  }
}

@media (max-width: 900px) {
  main {
    width: 100%;
  }

  .cards{
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  main {
    width: 100%;
  }
}

@media (max-width: 450px) {
  main {
    width: 100%;
  }
}

@media (max-width: 350px) {
  main {
    width: 100%;
  }
}